html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

.container {
    width: 500px;
    background-color: #223560;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.time {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
}